.friendsBlock{}
.test{
}
ul{
    margin-block: 0 0;
    padding-inline:  0 0;
}
li {
    display: inline;
    margin: 5px 5px;
}
li:before{
    content: ' \25cf';
    font-size: 14px;
    color: blue;
}